[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "lua-cjson"]
	path = lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "luafilesystem"]
	path = luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
